* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Seoul_Subway_linemap_en.png/2048px-Seoul_Subway_linemap_en.png);
	background-size: auto;
	background-position: center;
}

.menu {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.block {
	z-index: 1;
	background-color: rgba(255, 255, 255, 0);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: inline-flex;
	width: 1100px;
	height: 90vh;
	padding: 10px;
	margin: 10px auto;
	border-radius: 10px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}

.half {
	display: inline-block;
	width: calc(50% - 10px);
	height: 100%;
	margin: 0 auto;
}

.stations {
	display: inline-block;
	width: calc(50% - 5px);
	height: 70%;
}

.list {
	width: 100%;
	height: 93%;
	overflow-y: scroll;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.station {
	color: black;
	text-decoration: none;
	background: none;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
}

.press {
	display: block;
	width: calc(100% - 5px);
	margin: auto;
	height: 10%;
}

.press input {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0px;
	background: none;
	width: 100%;
	height: 100%;
}

.from_to {
	width: 100%;
	height: 7%;
}

.from_to input {
	margin-top: 5px;
	border-radius: 0px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	width: 100%;
	height: calc(100% - 5px);
}

.result {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin: auto;
	width: calc(100% - 5px);
	height: calc(20% - 5px);
	text-align: left;
}

.result_list {
	width: 100%;
	height: 100%;
}

.half img {
	border-radius: 10px;
	border: 1px solid black;
	margin: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
}

#right {
	vertical-align: center;
}

.title {
	z-index: 2;
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #fff;
	padding: 5px;
}

h2 span {
	text-transform: uppercase;
}

section {	
	margin: 20px 0;
}

@media screen and (max-width: 1199.98px){
	section {
    	padding: 0 50px;
  	}
  	.block {
		width: 100%;
  	}
}

@media screen and (max-width: 900.98px) {
	section {
    	padding: 0 50px;
  	}

  	.block {
  		flex-direction: column;
  		height: auto;
  	}

  	.half {
  		width: 100%;
		margin: 0 auto;
  	}

  	#left {
  		height: 80vh;
  	}

  	#right {
  		margin-top: 20px;
  		height: 100%;
  	}
}

@media screen and (max-width: 767.98px){
  	section {
    	padding: 0 25px;
  	}
}

@media screen and (max-width: 575.98px){
  	section {
    	padding: 0 10px;
  	}
}

input, button { 
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

* {
	border: none;
}